* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  width: 1005px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

nav ul li {
  display: inline;
  width: 267px;
}

li+li {
  margin-left: 15px;
}